# fly.toml app configuration file generated for letta-cwqr6q on 2025-12-18T03:55:22Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'letta-cwqr6q'
primary_region = 'iad'

[build]

[http_service]
  internal_port = 8283
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
